<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <PAK_Location>
    <value>""</value>
  </PAK_Location>
  <PAK_Target_Location>
    <value>""</value>
  </PAK_Target_Location>
</configuration>